ul {
    list-style-type: none;
    padding: 0;
    margin-top: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



li a {
    color: #000000;
    text-decoration: none;
    font-weight: Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ebeaea;
    margin: 0;
    padding: 20px;
}

li span {
    display: block;
    color: #555;
}

.container-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-list ul li {
    
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container-list ul li:hover{
    cursor: pointer;
    background-color: rgb(223, 248, 248);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.534);
    
}

.container-pull {
    margin-top: 160px;
    padding-top: 15px;
    width: 50%;
    background-color: rgb(238, 238, 238);
    height: 390px;
    border-radius: 10px;
    display: block;
    flex-direction: column;
   margin-left: 28%;
}

.body-pull{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-pull{
    font-size: 25px;
    margin-left: 20px;
    
}

.body-pull p{
    margin-left: 20px;
    font: 20px;
}


@media (max-width: 700px) {
    .container-list ul {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1200px) {
    .container-list ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.button-container{
    display: flex;
    justify-content: center;
}

.button-viewMore{
    width: 80px;
    height: 25px;
    background-color: #000000;
    border-color: transparent;
    color: #f5f5f5;
    border-radius: 4px;
}

.button-viewMore:hover{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.goBack-button{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-color: transparent;
    border-radius: 100%;
    background-color: #000000;
    color: white;
}

.goBack-button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease;
}

.goSite-button{
    background-color: #000000;
    margin-left: 20px;
    border-color: transparent;
    width: 290px;
    height: 40px;
    color: #ebeaea;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.goSite-button:hover{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.code-box {
    background-color: #f1f1f1; /* Fundo cinza claro */
    border: 1px solid #d1d1d1; /* Borda sutil */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    font-family: 'Courier New', Courier, monospace; /* Fonte monoespaçada */
    white-space: pre-wrap; /* Quebra de linha automática */
    overflow-x: auto; /* Rolagem horizontal se necessário */
    max-width: 100%; /* Prevenir que a caixinha ultrapasse a largura */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
    bottom: 5%;
  }


.container-code{
    margin-top: 5%;
    margin-bottom: 20px;
}

.button-viewChanges{
    background-color: #000000;
    margin-left: 20px;
    border-color: transparent;
    width: 290px;
    height: 40px;
    color: #ebeaea;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-viewChanges:hover{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

