<router-outlet />

<body>
    <div class="container">
        <nav>
            <div class="header">
                <h1>GitHub <span>Pulls</span></h1>
                <button (click)="toggleFilter()"> {{showFilter ? '▲' : '▼'}} </button>
            </div>
            <div class="filter-container" *ngIf="showFilter">
                <div class="order-container">
                    <button [ngClass]="{'ativo-comentarios': ordenacao === 'comentarios', 'inativo-comentarios': ordenacao !== 'comentarios'}" (click)="toggleOrderBy('comentarios')">Comentários </button>
                    <button [ngClass]="{'ativo-data': ordenacao === 'data', 'inativo-data': ordenacao !== 'data'}" (click)="toggleOrderBy('data')">Data</button>
                </div>
                <div class="filter">
                    <input [(ngModel)]="author" type="text" placeholder="Filtrar por autor">
                    <input [(ngModel)]="date" type="date" placeholder="Filtrar por data">
                    <select [(ngModel)]="state">
                        <option value="all">Todos</option>
                        <option value="open">Aberto</option>
                        <option value="closed">Fechado</option>
                    </select>
                    <button (click)="submitForm()" class="button-filter">Filtrar</button>
                </div>
                <div>
                    <button (click)="setDistinctPulls()" class="groupBy-button" >Distinct autor</button>
                </div>
            </div>
        </nav>
        <app-pull-requests [order]="ordenacao" [filtros]="filtrosPull" [isDistinctPulls]="distinctPulls">
        </app-pull-requests>
    </div>

</body>